/**
 * 作者: lwh
 * 时间: 2020.4.13
 */

/*滚动条的凹槽*/
::-webkit-scrollbar-track-piece {
    background-color: #373755;
}

/*滚动条宽度*/
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}

/*滚动条*/
::-webkit-scrollbar-thumb {
    background-color: #515173;
    background-clip: padding-box;
    min-height: 50px;
    border-radius: 5px;
    max-height: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5d5d87;
}

/*更改页面主体颜色*/
#index-body-container {
    background-color: #1e1e2f;
    padding-top: 51px;
}

#index-foot-container {
    background-color: #141421;
}
