/**
 * 作者: lwh
 * 时间: 2020.4.10
 */

/*导航栏激活状态下的标签颜色设置*/
#index-navbar .navbar .nav li.active a{
    background-color: #0078d7;
    color: white;
}
/*鼠标悬停在超链接上的颜色设置*/
#index-navbar .navbar .nav li a:hover{
    background-color: #0078d7;
    color: white;
}
/*搜索框输入错误提示文字显示区域*/
#index-navbar #index-navbar-searchFrom #errors{
    padding-left: 2px;
    width: 180px;
}