/**
 * 作者: lwh
 * 时间: 2020.5.2
 */

/*显示区域高度*/
#index-body-addAdmin {
    height: 650px;
    margin-top: 25px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 100px;
    padding: 50px 20px 50px 20px;
    background-color: #33334b;
    border-radius: 10px;
    color: white;
}

#index-body-addAdmin #addAdmin-split {
    margin-top: 10px;
    height: 2px;
    border-radius: 1px;
    background-color: #389466;
    margin-bottom: 75px;
}

#index-body-addAdmin #addAdmin-icon {
    width: 72px;
    height: 72px;
}

#index-body-addAdmin #addAdmin-title-text {
    height: 72px;
    line-height: 72px;
}

#index-body-addAdmin #addAdmin-form {
    color: #cccccc;
}

/*输入框*/
#index-body-addAdmin #addAdmin-form input {
    border: 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

#index-body-addAdmin #addAdmin-buttons {
    margin-top: 50px;
}

#addAdmin-buttons button.main {
    background-color: #389466;
    color: #cccccc;
    border: none;
}

#addAdmin-buttons button.main:hover, #addAdmin-buttons button.main:active {
    background-color: #276546;
}

#addAdmin-buttons button.other {
    background-color: #42425f;
    color: #cccccc;
    border: none;
}

#addAdmin-buttons button.other:hover, #addAdmin-buttons button.other:active {
    background-color: #515173;
}