<!--
 作者: lwh
 时间: 2020.4.10
-->

<div>
    <!-- index导航条 -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="javascript:void(0)" onclick="" class="navbar-brand"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span> 玉米的生长及环境数据管理系统</a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="javascript:void(0)" onclick="">首页</a></li>
                    <li><a href="javascript:void(0)" onclick="">地图</a></li>
                    <li><a href="javascript:void(0)" onclick="">图表</a></li>
                </ul>
                <div class="navbar-left" id="index-navbar-splitdiv">
                    <!-- 将搜索框与导航标签分开 -->
                </div>
                <form class="navbar-form navbar-left" role="search" id="index-navbar-searchFrom">
                    <div class="form-group">
                        <input type="text" class="form-control" name="searchContentInput" placeholder="输入内容以搜索">
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> 搜索</button>
                    <div class="form-group">
                        <div id="errors"></div>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="javascript:void(0)" onclick="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-user left" aria-hidden="true"></span>
                            <span id="index-navbar-adminName">&nbsp;管理员&nbsp;</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0)" onclick="showAdminInfo()">
                                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>&nbsp;我的账号
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)" onclick="addAdmin()">
                                    <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;添加管理员
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="javascript:void(0)" onclick="logout()">
                                    <div class="text-danger">
                                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;退出登录
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>