<!--
 作者: lwh
 时间: 2020.4.25
 描述: 修改密码的模态框
-->
<div class="modal fade" id="adminInfo-resetPassword-modal" tabindex="-1" role="dialog" aria-labelledby="adminInfo-password-editModal"
     aria-describedby="管理员密码修改">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改密码</h4>
            </div>
            <div class="modal-body">
                <form id="adminInfo-resetPassword-modal-form">
                    <div class="form-group">
                        <label for="adminInfo-newPasswordInput">新密码</label>
                        <input type="password" class="form-control" id="adminInfo-newPasswordInput" name="adminInfo-newPasswordInput">
                    </div>
                    <div class="form-group">
                        <label for="adminInfo-newPasswordConfirm">请再次输入新密码</label>
                        <input type="password" class="form-control" id="adminInfo-newPasswordConfirm" name="adminInfo-newPasswordConfirm">
                    </div>
                    <div style="margin-left: -15px; margin-right: -15px; padding-top: 15px; padding-right: 15px; text-align: right; border-top: 1px solid #e5e5e5;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary" data-loading-text="正在修改...">保存修改</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--
 作者: lwh
 时间: 2020.4.26
 描述: 修改邮箱的模态框
-->
<div class="modal fade" id="adminInfo-resetEmail-modal" tabindex="-1" role="dialog" aria-labelledby="adminInfo-email-editModal"
     aria-describedby="管理员邮箱修改">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改邮箱</h4>
            </div>
            <div class="modal-body">
                <form id="adminInfo-resetEmail-modal-form">
                    <div class="form-group">
                        <label for="adminInfo-newEmailInput">请输入新邮箱地址</label>
                        <input type="email" class="form-control" id="adminInfo-newEmailInput" name="adminInfo-newEmailInput"
                               placeholder="username@example.com">
                    </div>
                    <div style="margin-left: -15px; margin-right: -15px; padding-top: 15px; padding-right: 15px; text-align: right; border-top: 1px solid #e5e5e5;">
                        <button type="button" class="btn btn-default right" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary right" data-loading-text="正在修改...">保存修改</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->