<!--
 作者: lwh
 时间: 2020.4.12
-->

<!-- 我的账号信息 -->
<div class="container" id="index-body-adminInfo" xmlns:th="http://www.thymeleaf.org">
    <div class="row" id="adminInfo-hello">
        <div class="col-lg-10
                        col-md-10">
            <div class="media">
                <div class="media-left">
                    <img id="adminInfo-hello-img" src="../static/src/smile.png" th:src="@{/src/smile.png}"
                         alt="(*^_^*)">
                </div>
                <div class="media-right">
                    <h2 class="media-heading" id="adminInfo-hello-adminName">您好，管理员！</h2>
                    <h4 id="adminInfo-hello-email">999999999@email.com</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-11 col-md-11">
            <div id="adminInfo-split"></div>
        </div>
    </div>
    <div class="row" id="adminInfo-card">
        <div class="col-lg-5
                        col-md-5
                        col-xs-11">
            <div class="media card">
                <div class="media-left card-left">
                    <img class="card-left-img" src="../static/src/lock.png" th:src="@{/src/lock.png}" alt="locked">
                </div>
                <div class="media-right card-right">
                    <h3 class="card-right-title">修改密码</h3>
                    <p class="card-right-detail">请定期修改密码以确保账户安全</p>
                    <a href="javascript:void(0)" onclick="">立即修改 ></a>
                </div>
            </div>
        </div>
        <div id="adminInfo-card-vertical-spilit"></div>
        <div class="col-lg-5
                        col-md-5
                        col-xs-11">
            <div class="media card">
                <div class="media-left card-left">
                    <img class="card-left-img" src="../static/src/lock.png" th:src="@{/src/lock.png}" alt="locked">
                </div>
                <div class="media-right card-right">
                    <h3 class="card-right-title">修改邮箱</h3>
                    <p class="card-right-detail">如更换新邮箱请及时更新以获取最新消息</p>
                    <a href="javascript:void(0)" onclick="">立即修改 ></a>
                </div>
            </div>
        </div>
    </div>
</div>