<!--
 作者: lwh
 时间: 2020.2.26
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 设置页面初始化大小和缩放值 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 页面标题 -->
    <title>首页—玉米的生长及环境数据管理系统</title>
    <!-- 引入网页图标 -->
    <link rel="icon" href="../static/src/icon.png" th:href="@{/src/icon.png}" sizes="32x32">
    <!-- 引入bootstrap默认css样式 -->
    <link rel="stylesheet" href="../static/extlib/bootstrap-3.3.7/css/bootstrap.min.css" th:href="@{/extlib/bootstrap-3.3.7/css/bootstrap.min.css}">
    <!-- 引入bootstrapValidator默认css样式 -->
    <link rel="stylesheet" href="../static/extlib/bootstrapvalidator-0.5.3/css/bootstrapValidator.min.css" th:href="@{/extlib/bootstrapvalidator-0.5.3/css/bootstrapValidator.min.css}">
    <!-- 引入jquery和bootstrap的js插件 -->
    <!-- 注意：因为bootstrap和bootstrapValidator的js插件使用了jquery，所以jquery的引用必须放到bootstrap的js插件引用之前 -->
    <script type="text/javascript" src="../static/extlib/jquery-3.4.1/jquery-3.4.1.min.js" th:src="@{/extlib/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" src="../static/extlib/bootstrap-3.3.7/js/bootstrap.min.js" th:src="@{/extlib/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../static/extlib/bootstrapvalidator-0.5.3/js/bootstrapValidator.min.js" th:src="@{/extlib/bootstrapvalidator-0.5.3/js/bootstrapValidator.min.js}"></script>
    <!-- 引入jquery的md5加密插件 -->
    <script type="test/javascript" src="../static/extlib/jquerymd5/md5.pro.js" th:src="@{/extlib/jquerymd5/md5.pro.js}"></script>
    <!-- 引入自己的css库文件-->
<!--    <link rel="stylesheet" href="../static/css/index.css" th:src="@{/css/index.css}">-->
<!--    <link rel="stylesheet" href="../static/css/index_navbar.css" th:href="@{/css/index_navbar.css}">-->
<!--    <link rel="stylesheet" href="../static/css/index_foot.css" th:href="@{/css/index_foot.css}">-->
<!--    <link rel="stylesheet" href="../static/css/index_body_adminInfo.css" th:href="@{/css/index_body_adminInfo.css}">-->
    <!-- 引入自己的js库文件 -->
<!--    <script type="text/javascript" src="../static/js/myLib.js" th:src="@{/js/myLib.js}"></script>-->
<!--    <script type="text/javascript" src="../static/js/index_navbar.js" th:src="@{/js/index_navbar.js}"></script>-->
<!--    <script type="text/javascript" src="../static/js/index_body_adminInfo.js" th:src="@{/js/index_body_adminInfo.js}"></script>-->
</head>
<body>
<!--
 作者: lwh
 时间: 2020.4.28
 描述: 自定义样式的alert的模态框
-->
<div class="modal fade" id="myAlert" tabindex="-1" role="dialog" aria-labelledby="myAlert"
     aria-describedby="自定义样式的alert框">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0078d7; color: white;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">系统提示</h4>
            </div>
            <div class="modal-body" style="padding: 10px;">
                <div>
                    <h4>用户名或密码错误！</h4>
                </div>
                <div style="text-align: right; margin-top: 20px;">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    $("#myAlert").modal();
    //alert("“");
</script>
</body>
</html>
