<!--
 作者: lwh
 时间: 2020.2.26
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 设置页面初始化大小和缩放值 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 页面标题 -->
    <title>首页—玉米的生长及环境数据管理系统</title>
    <!-- 引入网页图标 -->
    <link rel="icon" href="../static/src/icon.png" th:href="@{/src/icon.png}" sizes="32x32">
    <!-- 引入bootstrap默认css样式 -->
    <link rel="stylesheet" href="../static/extlib/bootstrap-3.3.7/css/bootstrap.min.css" th:href="@{/extlib/bootstrap-3.3.7/css/bootstrap.min.css}">
    <!-- 引入bootstrapValidator默认css样式 -->
    <link rel="stylesheet" href="../static/extlib/bootstrapvalidator-0.5.3/css/bootstrapValidator.min.css" th:href="@{/extlib/bootstrapvalidator-0.5.3/css/bootstrapValidator.min.css}">
    <!-- 引入jquery和bootstrap的js插件 -->
    <!-- 注意：因为bootstrap和bootstrapValidator的js插件使用了jquery，所以jquery的引用必须放到bootstrap的js插件引用之前 -->
    <script type="text/javascript" src="../static/extlib/jquery-3.4.1/jquery-3.4.1.min.js" th:src="@{/extlib/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" src="../static/extlib/bootstrap-3.3.7/js/bootstrap.min.js" th:src="@{/extlib/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../static/extlib/bootstrapvalidator-0.5.3/js/bootstrapValidator.min.js" th:src="@{/extlib/bootstrapvalidator-0.5.3/js/bootstrapValidator.min.js}"></script>
    <!-- 引入jquery的md5加密插件 -->
    <script type="test/javascript" src="../static/extlib/jquerymd5/md5.pro.js" th:src="@{/extlib/jquerymd5/md5.pro.js}"></script>
    <!-- 引入自己的css库文件-->
<!--    <link rel="stylesheet" href="../static/css/index.css" th:src="@{/css/index.css}">-->
<!--    <link rel="stylesheet" href="../static/css/index_navbar.css" th:href="@{/css/index_navbar.css}">-->
<!--    <link rel="stylesheet" href="../static/css/index_foot.css" th:href="@{/css/index_foot.css}">-->
<!--    <link rel="stylesheet" href="../static/css/index_body_adminInfo.css" th:href="@{/css/index_body_adminInfo.css}">-->
    <!-- 引入自己的js库文件 -->
<!--    <script type="text/javascript" src="../static/js/myLib.js" th:src="@{/js/myLib.js}"></script>-->
<!--    <script type="text/javascript" src="../static/js/index_navbar.js" th:src="@{/js/index_navbar.js}"></script>-->
<!--    <script type="text/javascript" src="../static/js/index_body_adminInfo.js" th:src="@{/js/index_body_adminInfo.js}"></script>-->
</head>
<body>
<!--
 作者: lwh
 时间: 2020.4.25
 描述: 修改密码的模态框
-->
<div class="modal fade" id="adminInfo-password-editModal" tabindex="-1" role="dialog" aria-labelledby="adminInfo-password-editModal"
    aria-describedby="管理员密码修改">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改密码</h4>
            </div>
            <div class="modal-body">
                <form id="adminInfo-password-editModal-form">
                    <div class="form-group">
                        <label for="adminInfo-passwordInput">新密码</label>
                        <input type="text" class="form-control" id="adminInfo-passwordInput" name="adminInfo-passwordInput">
                    </div>
                    <div class="form-group">
                        <label for="adminInfo-passwordConfirm">请再次输入新密码</label>
                        <input type="password" class="form-control" id="adminInfo-passwordConfirm" name="adminInfo-passwordConfirm">
                    </div>
                    <div style="margin-left: -15px; margin-right: -15px; padding-top: 15px; padding-right: 15px; text-align: right; border-top: 1px solid #e5e5e5;">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary" data-loading-text="正在修改...">保存修改</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--
 作者: lwh
 时间: 2020.4.26
 描述: 修改邮箱的模态框
-->
<div class="modal fade" id="adminInfo-email-editModal" tabindex="-1" role="dialog" aria-labelledby="adminInfo-email-editModal"
     aria-describedby="管理员邮箱修改">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">修改邮箱</h4>
            </div>
            <div class="modal-body">
                <form id="adminInfo-email-editModal-form">
                    <div class="form-group">
                        <label for="adminInfo-newEmailInput">请输入新邮箱地址</label>
                        <input type="email" class="form-control" id="adminInfo-newEmailInput" name="adminInfo-newEmailInput"
                        placeholder="address@example.com">
                    </div>
                    <div style="margin-left: -15px; margin-right: -15px; padding-top: 15px; padding-right: 15px; text-align: right; border-top: 1px solid #e5e5e5;">
                        <button type="button" class="btn btn-default right" data-dismiss="modal">取消</button>
                        <button type="submit" class="btn btn-primary right" data-loading-text="正在修改...">保存修改</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<script type="text/javascript">
    $("#adminInfo-password-editModal").modal();
    //$("#adminInfo-email-editModal").modal();
</script>
</body>
</html>
