<!--
 作者: lwh
 时间: 2020.2.26
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- 设置页面初始化大小和缩放值 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 页面标题 -->
    <title>首页—玉米的生长及环境数据管理系统</title>
    <!-- 引入网页图标 -->
    <link rel="icon" href="../static/src/icon.png" th:href="@{/src/icon.png}" sizes="32x32">
    <!-- 引入bootstrap默认css样式 -->
    <link rel="stylesheet" href="../static/extlib/bootstrap-3.3.7/css/bootstrap.min.css" th:href="@{/extlib/bootstrap-3.3.7/css/bootstrap.min.css}">
    <!-- 引入bootstrapValidator默认css样式 -->
    <link rel="stylesheet" href="../static/extlib/bootstrapvalidator-0.5.3/css/bootstrapValidator.min.css" th:href="@{/extlib/bootstrapvalidator-0.5.3/css/bootstrapValidator.min.css}">
    <!-- 引入jquery和bootstrap的js插件 -->
    <!-- 注意：因为bootstrap和bootstrapValidator的js插件使用了jquery，所以jquery的引用必须放到bootstrap的js插件引用之前 -->
    <script type="text/javascript" src="../static/extlib/jquery-3.4.1/jquery-3.4.1.min.js" th:src="@{/extlib/jquery-3.4.1/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" src="../static/extlib/bootstrap-3.3.7/js/bootstrap.min.js" th:src="@{/extlib/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../static/extlib/bootstrapvalidator-0.5.3/js/bootstrapValidator.min.js" th:src="@{/extlib/bootstrapvalidator-0.5.3/js/bootstrapValidator.min.js}"></script>
    <style type="text/css">
        #index-body-addAdmin {
            height: 750px;
            margin-top: 50px;
        }
        #addAdmin-split {
            margin-top: 10px;
            height: 2px;
            border-radius: 1px;
            background-color: #d3d3d3;
            margin-bottom: 75px;
        }
        #addAdmin-icon {
            width: 65px;
            height: 65px;
        }
        #addAdmin-title-text {
            height: 64px;
            line-height: 64px;
        }
        #addAdmin-buttons {
            margin-top: 50px;
        }
    </style>
    <script type="text/javascript">

    </script>
</head>
<body>
<!--
 作者: lwh
 时间: 2020.4.12
-->

<!-- 我的账号信息 -->
<div class="container" id="index-body-addAdmin">
    <div class="row" id="addAdmin-title">
        <div class="col-lg-10
                    col-md-10">
            <div class="media">
                <div class="media-left">
                    <img id="addAdmin-icon" src="../static/src/addAdmin.png" th:src="@{/src/addAdmin.png}"
                         alt="添加">
                </div>
                <div class="media-right">
                    <h2 class="media-body" id="addAdmin-title-text">请输入新添加管理员信息</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-11 col-md-11">
            <div id="addAdmin-split"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-6
                    col-md-offset-2 col-md-8">
            <form class="form-horizontal" id="addAdmin-form">
                <div class="form-group">
                    <label for="newUserName" class="col-sm-2 control-label">用户名</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="newUserName" name="newUserName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="newUserPassword" class="col-sm-2 control-label">密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="newUserPassword" name="newUserPassword">
                    </div>
                </div>
                <div class="form-group">
                    <label for="newUserPasswordConfirm" class="col-sm-2 control-label">确认密码</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="newUserPasswordConfirm" name="newUserPasswordConfirm">
                    </div>
                </div>
                <div class="form-group">
                    <label for="newUserEmail" class="col-sm-2 control-label">邮箱</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="newUserEmail" name="newUserEmail">
                    </div>
                </div>
                <div class="form-group" id="addAdmin-buttons">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="col-sm-5">
                            <button type="submit" class="btn btn-primary col-sm-12" id="addAdminButton" data-loading-text="正在添加...">
                                添加
                            </button>
                        </div>
                        <div class="col-sm-5">
                            <button type="button" class="btn btn-default col-sm-12" id="addAdminResetButton">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
